services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: pcclub
      POSTGRES_PASSWORD: pcclub
      POSTGRES_DB: pcclub
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
volumes:
  dbdata:
